body {
  padding: 0;
  margin: 0;
}
.collapse-reset {
  background: #1b1b1b;
}
.collapse-reset > ul > li > a {
  line-height: 12px;
  color: #999;
}
.collapse-reset .active {
  background: #111;
}
.collapse-reset .active a {
  color: #fff;
}
.collapse-reset > ul > li > a:visited {
  background: #1b1b1b;
}
.collapse-reset > ul > li > a:hover {
  background: #1b1b1b;
  color: #fff;
}