<div class="container">
    <div class="center-block">
        <div class="page-header text-center">
            <h1 class="h1">
                <a href="/">前端控件Demo库</a>
            </h1>
        </div>
        <div class="col-lg-12">
            <p>
                引自<a class="btn-link" href="https://segmentfault.com/a/1190000003858219" target="_blank">https://segmentfault.com/a/1190000003858219</a>
            </p>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">AngularStrap</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item-text list-group-item" ng-repeat="item in AnrularStrapList">
                                <a class="btn-link" ng-href="{{ item.url }}" ng-bind="item.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>