<div class="wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-12">
                <ul class="list-group" ui-sortable="sortableOptions" ng-model="items">
                    <li class="list-group-item" ng-repeat="item in items"><span ng-bind="item"></span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div ui-sortable="sortableOptionsList[0]" class="col-md-6 list-group apps-container" ng-model="rawScreens[0]">
                    <div class="app list-group-item" ng-repeat="app in rawScreens[0]">{{$index}} {{app.title}}</div>
                </div>
                <div ui-sortable="sortableOptionsList[1]" class="col-md-6 list-group apps-container" ng-model="rawScreens[1]">
                    <div class="app list-group-item" ng-repeat="app in rawScreens[1]">{{$index}} {{app.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>