<style>
    h1.chapter { width: 50%; margin: 100px auto; text-align: center; background: lightblue; color: white;}

    [ui-tour] > li {
        display: none;
    }
    .active {
        display: block !important;
    }
    .tour-overlay {
        display: none;
        height: 500px;
        width: 500px;
        top: -4100px;
        left: -4100px;
        background: transparent;
        border-radius: 8000px;
        border: 4000px solid rgba(0,0,0,.5);
        position: fixed;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    .tour-overlay.in {
        height: 300px;
        width: 300px;
        top: -4000px;
        left: -4000px;
    }
</style>
<div class="container">
    <div class="center-block">
        <div class="page-header text-center">
            <h1 class="h1">
                <a href="https://angular-ui.github.io/ui-tour/demo/demo.html" target="_blank">UI Tour</a>
            </h1>
        </div>
        <div class="col-lg-12">
            <h1 class="chapter" id="1th">Chapter One</h1>
            <h1 class="chapter" id="2th">Chapter Two</h1>
            <h1 class="chapter" id="3th">Chapter <a>Three</a></h1>
            <h1 class="chapter" id="4th">Chapter Four</h1>
        </div>
        <ul ui-tour="currentStep" ng-init="currentStep=1">
            <li target="h1#1th" at="right" class="popover right in" overlay>
                <div class="arrow"></div>
                <h3 class="popover-title">A Title <a class="close" ng-click="currentStep=false">&times;</a></h3>
                <div class="popover-content">And here's some amazing content. It's very engaging. right? First <button class="btn" ng-click="currentStep=currentStep+1">Next</button> <button class="btn" ng-click="currentStep=4">Go to 4</button> <button class="btn" ng-click="currentStep='chapter3'">Go to 'chapter3'</button></div>
            </li>
            <li target="h1#2th" at="top" class="popover top in">
                <div class="arrow"></div>
                <h3 class="popover-title">A Title <a class="close" ng-click="currentStep=false">&times;</a></h3>
                <div class="popover-content"><button class="btn" ng-click="currentStep=currentStep-1">Prev</button> Second <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
            </li>
            <li target="h1#3th a" at="left" name="chapter3" class="popover left in" overlay>
                <div class="arrow"></div>
                <h3 class="popover-title">A Title <a class="close" ng-click="currentStep=false">&times;</a></h3>
                <div class="popover-content"><button class="btn" ng-click="currentStep=currentStep-1">Prev</button> Third <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
            </li>
            <li target="h1#4th" at="bottom" class="popover bottom in">
                <div class="arrow"></div>
                <h3 class="popover-title">A Title <a class="close" ng-click="currentStep=false">&times;</a></h3>
                <div class="popover-content">Fourth <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
            </li>
        </ul>
    </div>
</div>